{% load static %}
<!DOCTYPE html>

<html>

<head>

    <title>FoodieExpress</title>

    <link rel="stylesheet"
          href="{% static 'foodapp/css/style.css' %}">

</head>

<body>

<nav>

    <h1>FoodieExpress</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/restaurant/">Restaurants</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/login">Login</a></li>
    </ul>

</nav>

<!-- Image Slider -->

<div class="slider">



    <!-- Hero Content -->

    <section class="hero">

        <h2>Delicious Food</h2>

        <h2>Delivered Fast</h2>

        <h3>Order your favorite meals online</h3>

        <a href="/restaurants/">
            <button>Order Now</button>

        </a>

    </section>

</div>

</body>
</html>