{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Order Success</title>

    <link rel="stylesheet"
          href="{% static 'foodapp/css/style.css' %}">

</head>

<body>

<div class="success-container">

    <div class="success-box">

        <div class="tick">

            ✅

        </div>

        <h1>Payment Successful!</h1>

        <p>

            Your order has been placed successfully.<br>
            Delicious food is on the way 🍔🍕

        </p>

        <div class="success-details">

            <h3>Estimated Delivery Time</h3>

            <span>30 - 45 Minutes</span>

        </div>

        <a href="/">

            <button class="home-btn">

                Back To Home

            </button>

        </a>

    </div>

</div>

</body>
</html>